<a href="https://colab.research.google.com/github/hargurjeet/Recommedation-Systems/blob/main/Anime_Recommendation_Collborative_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd

In [14]:
# Upload kaggle.jason
# please follow this link incase not aware: https://www.kaggle.com/general/74235
from google.colab import files
files.upload()

! pip install opendatasets --upgrade
import opendatasets as od

dataset_url = 'https://www.kaggle.com/CooperUnion/anime-recommendations-database'
od.download(dataset_url)

Saving kaggle.json to kaggle (1).json
Requirement already up-to-date: opendatasets in /usr/local/lib/python3.7/dist-packages (0.1.20)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.41.1)
Requirement already satisfied, skipping upgrade: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied, skipping upgrade: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied, skipping upgrade: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Skipping, found downloaded files in "./anime-recommendations-database" (use force=True to force download)

In [15]:
df=pd.read_csv("/content/anime-recommendations-database/anime.csv")
df1=pd.read_csv("/content/anime-recommendations-database/rating.csv")
df.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [16]:
df1.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [28]:
merged_df=df1.merge(df[['anime_id','name']],how='left', on='anime_id')
merged_df.shape
merged_df.head()

   user_id  anime_id  rating                       name
0        1        20      -1                     Naruto
1        1        24      -1              School Rumble
2        1        79      -1                   Shuffle!
3        1       226      -1                 Elfen Lied
4        1       241      -1  Girls Bravo: First Season

In [30]:
merged_df.describe()

            user_id      anime_id        rating
count  7.813737e+06  7.813737e+06  7.813737e+06
mean   3.672796e+04  8.909072e+03  6.144030e+00
std    2.099795e+04  8.883950e+03  3.727800e+00
min    1.000000e+00  1.000000e+00 -1.000000e+00
25%    1.897400e+04  1.240000e+03  6.000000e+00
50%    3.679100e+04  6.213000e+03  7.000000e+00
75%    5.475700e+04  1.409300e+04  9.000000e+00
max    7.351600e+04  3.451900e+04  1.000000e+01

In [34]:
ratings = pd.DataFrame(merged_df.groupby('name')['rating'].mean())
ratings.head()

                                                      rating
name
&quot;0&quot;                                       2.769231
&quot;Aesop&quot; no Ohanashi yori: Ushi to Kae...  0.000000
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hats...  5.774936
&quot;Bungaku Shoujo&quot; Memoire                  6.155748
&quot;Bungaku Shoujo&quot; Movie                    6.457980

In [35]:
merged_df['number_of_ratings'] = merged_df.groupby('name')['rating'].count()
merged_df.head()

   user_id  anime_id  rating                       name  number_of_ratings
0        1        20      -1                     Naruto                NaN
1        1        24      -1              School Rumble                NaN
2        1        79      -1                   Shuffle!                NaN
3        1       226      -1                 Elfen Lied                NaN
4        1       241      -1  Girls Bravo: First Season                NaN